{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
        <div class="mx-auto col-lg-12 col-10 px-5">
            <h2 class="text-body" style="">Form Buat Peminjaman</h2>
            <form class="text-left" method="POST" action="{% url 'tambah_peminjaman_database' %}">
                <div class="form-group"><label>Sepeda Stasiun</label><select class="custom-select">
                    <option selected="">Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select></div>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Tambahkan</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
  