{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-2">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2 class="pt-4">Daftar Peminjaman</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="py-2 pb-5" style="">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th style="	text-shadow: 0px 0px 0px black, 0px 0px 4px black;">No Kartu Anggota</th>
                    <th style="	text-shadow: 0px 0px 0px black;">Sepeda</th>
                    <th style="	text-shadow: 0px 0px 0px black;">Stasiun</th>
                    <th class="shadow-none" style="	text-shadow: 0px 0px 0px black;">Waktu Kembali</th>
                    <th class="shadow-none" style="	text-shadow: 0px 0px 0px black;">Biaya</th>
                    <th class="shadow-none" style="	text-shadow: 0px 0px 0px black;">Denda</th>
                </tr>
                </thead>
                <tbody>
                    {% for p in data %}
                    <tr>
                        <td>{{p.0}}</td>
                        <td>{{p.1}}</td>
                        <td>{{p.2}}</td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.5}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}
  