{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center py-3">
    <div class="container">
        <div class="row">
        <div class="mx-auto col-lg-10 col-10 px-5">
            <h2 class="text-body" style="">Form Transaksi Topup</h2>
            <form class="text-left">
            <div class="form-group"> <label for="form18">Nominal</label> <input type="number" class="form-control" id="form18" placeholder="1" min="1" required="required" name="nominal"> </div>
            <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
  