{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-2">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2 class="pt-4">Riwayat Transaksi</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="py-2 pb-5">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th style="text-shadow: 0px 0px 0px black">No</th>
                    <th style="text-shadow: 0px 0px 0px black">Tanggal</th>
                    <th style="text-shadow: 0px 0px 0px black">Jenis Transaksi</th>
                    <th style="text-shadow: 0px 0px 0px black">Nominal</th>
                </tr>
                </thead>
                <tbody>
                {% for e in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.0 }}</td>
                    <td>{{ e.1 }}</td>
                    <td>{{ e.2 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
