{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center py-3">
    <div class="container">
        <div class="row">
        <div class="mx-auto col-lg-12 col-10 px-5">
            <h2 class="text-body" style="" contenteditable="true">Form Penambahan Penugasan</h2>
            <form class = "text-left" method="POST" action="{% url 'tambah_penugasan_database' %}">
            {% csrf_token %}
                <div class="form-group"> <label for="form17">Petugas</label> <select class="custom-select" name="petugas">
                {% for i in data_petugas %}
                    <option value="{{i.0}}">{{i.0}} - {{i.1}}</option>
                {% endfor %}
                </select> </div>
                <div class="form-group"> <label for="form18">Tanggal Mulai</label> <input type="date" class="form-control" name = "mulai"> </div>
                <div class="form-group"> <label for="form18">Tanggal Selesai </label> <input type="date" class="form-control" name = "selesai"> </div>
                <div class="form-group"> <label for="form17">Stasiun</label> <select class="custom-select" name = "stasiun">
                {% for e in data_stasiun %}
                    <option value="{{e.0}}">{{e.1}}</option>
                {% endfor %}
                </select> </div>
                <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
  