{% extends 'base.html' %}
{% load static %}

{% block content %}

<script>
    function delete_penugasan(e) {
        var lis = $(e).attr('id');
        $.get("/penugasan/delete_penugasan_database/", {
            'id' : lis,
        }, function(data) {
            alert("delete yey");
            document.location.reload();
        });
    }
        
    function setUpdate(petugas, start, end, stasiun){
        document.getElementsByName('petugas')[0].value = petugas;
        document.getElementsByName('mulai')[0].value = start; 
        document.getElementsByName('selesai')[0].value = end;  
        document.getElementsByName('stasiun')[0].value = stasiun;  
    };

</script>

<div class="py-2">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2 class="pt-4">Daftar Penugasan</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="py-2 pb-5">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>Petugas</th>
                    <th>Tanggal Mulai</th>
                    <th>Tanggal Selesai</th>
                    <th>Stasiun</th>
                    {% if request.session.role == 'petugas' %}
                    <th>Update</th>
                    <th>Delete</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for e in data %}
                    <tr>
                        <td>{{e.0}}</td>
                        <td>{{e.1}}</td>
                        <td>{{e.2}}</td>
                        <td>{{e.3}}</td>
                        <td>{{e.4}}</td>
                        {% if request.session.role == 'petugas' %}
                        <td><button class="btn btn-primary mx-2" onclick= 'setUpdate("{{e.0}}","{{e.1}}","{{e.2}}","{{e.3}}")' data-toggle="modal" data-target="#UpdateData"><b>UPDATE</b></button></td>
                        <td><button class="btn btn-danger mx-2" id="{{e.0}}-{{e.2}}" onclick="delete_penugasan(this)"><b>DELETE</b></button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateData" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h3 class="modal-title">UPDATE PENUGASAN</h3>
                </div>
                <div class="modal-body">
                    <form class = "text-left" method="POST" action="{% url 'update_penugasan_database' %}">
                    {% csrf_token %}
                        <div class="form-group"> <label for="form17">Petugas</label> <select class="custom-select" name="petugas">
                        {% for i in data_petugas %}
                            <option value="{{i.0}} - {{i.1}}">{{i.0}} - {{i.1}}</option>
                        {% endfor %}
                        </select> </div>
                        <div class="form-group"> <label for="form18">Tanggal Mulai</label> <input type="date" class="form-control" name = "mulai"> </div>
                        <div class="form-group"> <label for="form18">Tanggal Selesai </label> <input type="date" class="form-control" name = "selesai"> </div>
                        <div class="form-group"> <label for="form17">Stasiun</label> <select class="custom-select" name = "stasiun">
                        {% for e in data_stasiun %}
                            <option value="{{e.0}}">{{e.1}}</option>
                        {% endfor %}
                        </select> </div>
                        <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}