{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center py-3">
    <div class="container">
        <div class="row">
        <div class="mx-auto col-lg-12 col-10 px-5">
            <h2 class="text-body" style="" contenteditable="true">Form Penambahan Acara</h2>
            <form class = "text-left" method="POST" action="{% url 'tambah_acara_database' %}">
                {% csrf_token %}
                <div class="mx-auto col-lg-12 col-10 px-5">
                    <div class="form-group"> <label for="form15">Judul</label> <input type="text" class="form-control" name="judul" required="required"> </div>
                    <div class="form-group"> <label for="form16">Deskripsi</label> <input type="text" class="form-control" name="deskripsi" required="required"> </div>
                    <div class="form-group"> <label for="form17">Gratis</label> <select class="custom-select" name = "is_gratis">
                        <option value="1">Ya</option>
                        <option value="0">Tidak</option>
                    </select> </div>
                    <div class="form-group"> <label for="form18">Tanggal Mulai</label> <input type="date" class="form-control" name="mulai"> </div>
                    <div class="form-group"> <label for="form18">Tanggal Selesai </label> <input type="date" class="form-control" name="selesai"> </div>
                    <div class="form-group"> <label for="form17">Stasiun</label> <select class="custom-select" name = "stasiun">
                        {% for e in data_stasiun %}
                            <option value="{{e.0}}">{{e.1}}</option>
                        {% endfor %}
                    </select> 
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
                <br>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
  