{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    function delete_acara(e) {
        var lis = $(e).attr('id');
        console.log("Masuk, dan idnya: " + lis)
        $.get("/acara/delete_acara_database/", {
            'id' : lis,
    }, function(data) {
        alert("Sudah berhasil terdelete");
        document.location.reload();
    });
    }
        
    function setUpdate(id_acara,judul,des,start,end,gratis){
        document.getElementsByName('id_acara')[0].value = id_acara;
        document.getElementsByName('judul')[0].value = judul;  
        document.getElementsByName('deskripsi')[0].value = des;
        document.getElementsByName('mulai')[0].value = start; 
        document.getElementsByName('selesai')[0].value = end;  
        document.getElementsByName('is_gratis')[0].value = gratis;  
    };
</script>

<div class="py-2">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2 class="pt-4">Daftar Acara</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="py-2 pb-5">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th style="text-shadow: 0px 0px 0px black">No</th>
                    <th style="text-shadow: 0px 0px 0px black">Judul</th>
                    <th style="text-shadow: 0px 0px 0px black">Deskripsi</th>
                    <th style="text-shadow: 0px 0px 0px black">Tanggal Mulai</th>
                    <th style="text-shadow: 0px 0px 0px black">Tanggal Selesai</th>
                    <th style="text-shadow: 0px 0px 0px black">Gratis</th>
                    <th style="text-shadow: 0px 0px 0px black">Stasiun</th>
                    {% if request.session.role == 'petugas' %}
                    <th style="text-shadow: 0px 0px 0px black">Update</th>
                    <th style="text-shadow: 0px 0px 0px black">Delete</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for e in data %}
                    <tr>
                        <td>{{e.0}}</td>
                        <td>{{e.1}}</td>
                        <td>{{e.2}}</td>
                        <td>{{e.3}}</td>
                        <td>{{e.4}}</td>
                        <td>{{e.5}}</td>
                        <td>{{e.6}}</td>
                        {% if request.session.role == 'petugas' %}
                        <td><button class="btn btn-primary mx-2" onclick= 'setUpdate("{{e.0}}","{{e.1}}","{{e.2}}","{{e.3}}","{{e.4}}","{{e.5}}")' data-toggle="modal" data-target="#UpdateData"><b>UPDATE</b></button></td>
                        <td><button class="btn btn-danger mx-2" id="{{e.0}}" onclick="delete_acara(this)"><b>DELETE</b></button></td>
                        {%  endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id = "UpdateData" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title">UPDATE ACARA</h3>
            </div>
            <div class="modal-body">
                <form name = "update_form" class = "text-left" method="POST" action="{% url 'update_acara_database' %}">
                {% csrf_token %}    
                    <div class="mx-auto col-lg-12 col-10 px-5">
                        <div class="form-group"> <label for="form15">Id_acara</label> <input type="text" class="form-control" name="id_acara" readonly>  </div>
                        <div class="form-group"> <label for="form15">Judul</label> <input type="text" class="form-control" name="judul" required="required">  </div>
                        <div class="form-group"> <label for="form16">Deskripsi</label> <input type="text" class="form-control" name="deskripsi" required="required"> </div>
                        <div class="form-group"> <label for="form17">Gratis</label> <select class="custom-select" name = "is_gratis">
                            <option value="1">Ya</option>
                            <option value="0">Tidak</option>
                        </select> </div>
                        <div class="form-group"> <label for="form18">Tanggal Mulai</label> <input type="date" class="form-control" name="mulai"> </div>
                        <div class="form-group"> <label for="form18">Tanggal Selesai </label> <input type="date" class="form-control" name="selesai" value> </div>
                        <div class="form-group"> <label for="form17">Stasiun</label> <select class="custom-select" name = "stasiun">
                            {% for e in data_stasiun %}
                                <option value="{{e.0}}">{{e.1}}</option>
                            {% endfor %}
                        </select> 
                    </div>
                    <div class="mt-3 d-flex justify-content-end">
                        <button class="btn btn-primary">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
  