{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="text-center py-3">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-12 col-10 px-5">
          <h2 class="text-body" style="" contenteditable="true">Form Update Acara</h2>
          <form class="text-left">
                <div class="form-group"> <label for="form16" contenteditable="true">Judul</label> <input type="text" class="form-control" id="form16" required="required"> </div>
            <div class="form-group"> <label for="form16" contenteditable="true">Deskripsi</label> <input type="text" class="form-control" id="form16" required="required"> </div>
            <div class="form-group"> <label for="form17">Gratis</label> <select class="custom-select">
                <option value="1">Ya</option>
                <option value="2">Tidak</option>
            </select> </div>
            <div class="form-group"> <label for="form18">Tanggal Mulai</label> <input type="text" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form18">Tanggal Selesai </label> <input type="text" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form17">Stasiun</label> <select class="custom-select">
                <option>-</option>
                <option value="1">Stasiun Pondok Cina</option>
                <option value="2">Stasiun Depok Lama</option>
            </select> </div>
            <button type="submit" class="btn btn-lg btn-block btn-secondary">UPDATE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}