{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-2">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2 class="pt-4">Daftar Laporan</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="py-2 pb-5">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Sort By</button>
            <div class="dropdown-menu">
                <a href="/laporan/daftar?sort=1" class="dropdown-item-text">Tanggal</a>
                <a href="/laporan/daftar?sort=" class="dropdown-item-text">Nomor</a>
                <a href="/laporan/daftar?sort=0" class="dropdown-item-text">ID Laporan</a>
                <a href="/laporan/daftar?sort=4 ASC" class="dropdown-item-text">Denda - ASC</a>
                <a href="/laporan/daftar?sort=4 DESC" class="dropdown-item-text">Denda - DESC</a>
                <a href="/laporan/daftar?sort=5" class="dropdown-item-text">Status</a></div>
            </div>
            <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Filter By</button>
            <div class="dropdown-menu">
                <span class="dropdown-item-text">Tanggal</span><span class="dropdown-item-text">Nomor</span><span class="dropdown-item-text">ID Laporan</span><span class="dropdown-item-text">Denda - ASC</span><span class="dropdown-item-text">Denda - DESC</span><span class="dropdown-item-text">Status</span></div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th style="text-shadow: 0px 0px 0px black">No</th>
                    <th style="text-shadow: 0px 0px 0px black">ID Laporan</th>
                    <th style="text-shadow: 0px 0px 0px black">Tanggal Pinjam</th>
                    <th style="text-shadow: 0px 0px 0px black">Anggota</th>
                    <th style="text-shadow: 0px 0px 0px black">Denda</th>
                    <th style="text-shadow: 0px 0px 0px black">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for e in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.0 }}</td>
                    <td>{{ e.1 }}</td>
                    <td>{{ e.2 }} - {{ e.3 }}</td>
                    <td>{{ e.4 }}</td>
                    <td>{{ e.5 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            {% if data.has_other_pages %}
            <ul class="pagination">
            {% if data.has_previous %}
            <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in data.paginator.page_range %}
            {% if data.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if data.has_next %}
            <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
            {% endif %}
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
  