{% extends 'base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">
    function delete_stasiun(e) {
        var lis = $(e).attr('id');
        console.log("Masuk, dan idnya: " + lis)
        $.get("/stasiun/delete_stasiun_database/", {
            'id' : lis,
    }, function(data) {
        alert("Sudah berhasil terdelete");
        document.location.reload();
    });
}
</script>
<div class="py-2">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2 class="pt-4">Daftar Stasiun</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="py-2 pb-5">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th style="text-shadow: 0px 0px 0px black">No</th>
                    <th style="text-shadow: 0px 0px 0px black">Nama Stasiun</th>
                    <th style="text-shadow: 0px 0px 0px black">Alamat</th>
                    <th style="text-shadow: 0px 0px 0px black">Latitude</th>
                    <th style="text-shadow: 0px 0px 0px black">Longitude</th>
                    <th style="text-shadow: 0px 0px 0px black">Update</th>
                    <th style="text-shadow: 0px 0px 0px black">Delete</th>
                </tr>
                </thead>
                <tbody>
                    {% for e in data %}
                    <tr>
                        <td>{{e.0}}</td>
                        <td>{{e.1}}</td>
                        <td>{{e.2}}</td>
                        <td>{{e.3}}</td>
                        <td>{{e.4}}</td>
                        <td> <a type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#UpdatePopup"><b>UPDATE</b></a></td>
                        <td><button class="btn btn-danger mx-2" id="{{e.0}}" onclick="delete_stasiun(this)"><b>DELETE</b></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
  