{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center py-3">
    <div class="container">
        <div class="row">
        <div class="mx-auto col-lg-10 col-10 px-5">
            <h2 class="text-body" style="">Form Penambahan Stasiun</h2>
            <form class="text-left" method="POST" action="{% url 'tambah_stasiun_database' %}">
                {% csrf_token %}
                <div class="form-group"> <label for="form16" contenteditable="true">Nama</label> <input type="text" class="form-control" name="form16" placeholder="Stasiun A" required="required"> </div>
                <div class="form-group"> <label for="form17">Alamat</label> <input type="text" class="form-control" name="form17" required="required" placeholder="Jalan Mawar"> </div>
                <div class="form-group"> <label for="form18">Latitude</label> <input type="number" class="form-control" name="form18" placeholder="100"> </div>
                <div class="form-group"> <label for="form19">Longitude</label> <input type="number" class="form-control" name="form19" placeholder="50" style=""> </div>
                <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
  