{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    function delete_voucher(v) {
        var lis = $(v).attr('id');
        console.log("Masuk, dan idnya: " + lis)
        $.get("/voucher/delete_voucher_database/", {
            'id' : lis,
    }, function(data) {
        alert("Sudah berhasil terdelete");
        document.location.reload();
    });

}

    function setUpdate(id_voucher, nama, kategori, nilai_poin, deskripsi){
        document.getElementsByName('id_voucher')[0].value = id_voucher;
        document.getElementsByName('nama')[0].value = nama;
        document.getElementsByName('kategori')[0].value = kategori; 
        document.getElementsByName('poin')[0].value = nilai_poin;  
        document.getElementsByName('deskripsi')[0].value = deskripsi;  
    };
</script>
<div class="py-2">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2 class="pt-4">Daftar Voucher</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="py-2 pb-5" style="">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th style="	text-shadow: 0px 0px 0px black, 0px 0px 4px black;">ID Voucher</th>
                    <th style="	text-shadow: 0px 0px 0px black;">Nama</th>
                    <th style="	text-shadow: 0px 0px 0px black;">Kategori</th>
                    <th class="shadow-none" style="	text-shadow: 0px 0px 0px black;">Nilai Poin</th>
                    <th class="shadow-none" style="	text-shadow: 0px 0px 0px black;">Deskripsi</th>
                    <th class="shadow-none" style="	text-shadow: 0px 0px 0px black;">Diklaim oleh</th>
                    <th class="shadow-none" style="	text-shadow: 0px 0px 0px black;">Update</th>
                    <th class="shadow-none" style="	text-shadow: 0px 0px 0px black;">Delete</th>
                </tr>
                </thead>
                <tbody>
                    {% for v in data %}
                    <tr>
                        <td>{{v.0}}</td>
                        <td>{{v.1}}</td>
                        <td>{{v.2}}</td>
                        <td>{{v.3}}</td>
                        <td>{{v.4}}</td>
                        <td>{{v.5}}</td>
                        <td><button class="btn btn-primary mx-2" onclick= 'setUpdate("{{v.0}}","{{v.1}}","{{v.2}}","{{v.3}}","{{v.4}}","{{v.5}}")' data-toggle="modal" data-target="#UpdateData"><b>UPDATE</b></button></td>
                        <td>
                        <button class="btn btn-danger mx-2" id="{{v.0}}" onclick="delete_voucher(this)"><b style="	text-shadow: 0px 0px 0px black;">DELETE</b></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateData" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h3 class="modal-title">UPDATE VOUCHER</h3>
                </div>
                <div class="modal-body">
                    <form class = "text-left" method="POST" action="{% url 'update_voucher_database' %}">
                    {% csrf_token %}
                        <div class="form-group"> <label for="form17">Id Voucher</label> <input type="text" class="form-control" name = "id_voucher" readonly>  </div>
                        <div class="form-group"> <label for="form17">Nama</label> <input type="text" class="form-control" name = "nama">  </div>
                        <div class="form-group"> <label for="form18">Kategori</label> <input type="text" class="form-control" name = "kategori"> </div>
                        <div class="form-group"> <label for="form18">Nilai Poin </label> <input type="text" class="form-control" name = "poin"> </div>
                        <div class="form-group"> <label for="form17">Deskripsi</label> <input type="text" class="form-control" name = "deskripsi"> </div>
                        <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
  