{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
        <div class="mx-auto col-lg-12 col-10 px-5">
            <h2 class="text-body" style="" contenteditable="true">Form Penambahan Voucher</h2>
            <form class="text-left" method="POST" action="{% url 'tambah_voucher_database' %}">
                {% csrf_token %}
                <div class="form-group"> <label for="nama" contenteditable="true">Nama</label> <input type="text" class="form-control" name="nama" placeholder="Voucher diskon" required="required"> </div>
                <div class="form-group"> <label for="kategori">Kategori</label> <input type="text" class="form-control" name="kategori" placeholder="Diskon" required="required"> </div>
                <div class="form-group"> <label for="poin">Nilai poin</label> <input type="number" class="form-control" name="poin" placeholder="100"> </div>
                <div class="form-group"> <label for="deskripsi">Deskripsi</label> <input type="text" class="form-control" name="deskripsi" style="" required="required" placeholder="C : Voucher Diskon Yoshinoya"> </div>
                <div class="form-group"> <label for="jumlah">Jumlah</label> <input type="number" class="form-control" name="jumlah" placeholder="10" style="" required="required"> </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Tambahkan</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
  