{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
        <div class="mx-auto col-lg-12 col-10 px-5">
            <h2 class="text-body" style="">Update Voucher</h2>
            <form class="text-left">
            <div class="form-group"> <label for="form16" contenteditable="true">Nama</label> <input type="text" class="form-control" id="form16" placeholder="Voucher makan" required="required"> </div>
            <div class="form-group"> <label for="form17">Kategori</label> <input type="text" class="form-control" id="form17" required="required" placeholder="Makan"> </div>
            <div class="form-group"> <label for="form18">Nilai poin</label> <input type="number" class="form-control" id="form18" placeholder="300"> </div>
            <div class="form-group"> <label for="form18">Deskripsi</label> <input type="text" class="form-control" id="form18" style="" required="required" placeholder="Gratis 1 porsi ayam bakar madu"> </div>
            <div class="form-group"> <label for="form18">Jumlah</label> <input type="number" class="form-control" id="form18" style="" required="required" placeholder="1"> </div>
            <button type="submit" class="btn btn-lg btn-block btn-primary">Simpan</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
  