<!DOCTYPE html>

<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
            <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    </head>
    <body class="bg-light">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="	text-shadow: 0px 0px 0px black;">
                <div class="container"> <a class="navbar-brand" href="#">
                    <i class="fa d-inline fa-lg fa-bicycle"></i>
                    <b> BIKESHARING </b>
                    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar11">
                    <ul class="navbar-nav ml-auto">
                        {% if request.session.role == 'petugas' %}
                        <li class="nav-item"> <a class="nav-link" href="#">Role : ADMIN / PETUGAS </a> </li>
                        {% elif request.session.role == 'anggota' %}
                        <li class="nav-item"> <a class="nav-link" href="#">Role : ANGGOTA</a> </li>
                        {% endif %}
                    </ul> <a class="btn navbar-btn ml-md-2 btn-danger" href="/logout/">Logout</a>
                    </div>
                </div>
            </nav>
            <div class="mt-0 py-0" style="	background-image: linear-gradient(to bottom, rgba(102,204,204,0.7), rgba(102,204,204,0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;	text-shadow: 0px 0px 4px black;	box-shadow: 0px 0px   black;">
                <div class="container mt-0 pl-0">
                    <div class="row">
                    <div class="col-md-12" style="">
                        <ul class="nav pr-0 ml-0" style="">
                        <li class="nav-item dropdown bg-info text-dark" style="	text-shadow: 0px 0px 0px black;	background-image: linear-gradient(to bottom, rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"><br>
                        </li>
                        <li class="nav-item dropdown bg-info text-dark" style="	text-shadow: 0px 0px 0px black;	background-image: linear-gradient(to bottom, rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"><br>
                        </li>
                        <li class="nav-item dropdown bg-light text-danger" style="	text-shadow: 0px 0px 0px black;	background-image: linear-gradient(to bottom, rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b class="text-dark">Acara</b></a>
                            <div class="dropdown-menu">
                                {% if request.session.role == 'petugas' %}
                                <a class="dropdown-item" href="/acara/tambah">Tambah Acara</a>
                                {% endif %}
                                <a class="dropdown-item" href="/acara/daftar">Daftar Acara</a>
                            </div>
                        </li>
                        {% if request.session.role == 'petugas' %}
                        <li class="nav-item dropdown bg-light text-danger" style="	text-shadow: 0px 0px 0px black;	background-image: linear-gradient(to bottom, rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b class="text-dark">Petugas</b></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/penugasan/tambah">Tambah Penugasan</a>
                                <a class="dropdown-item" href="/penugasan/daftar">Daftar Penugasan</a>
                            </div>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown bg-light text-danger" style="	text-shadow: 0px 0px 0px black;	background-image: linear-gradient(to bottom, rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b class="text-dark">Stasiun</b></a>
                            <div class="dropdown-menu">
                                {% if request.session.role == 'petugas' %}
                                <a class="dropdown-item" href="/stasiun/tambah">Tambah Stasiun</a>
                                {% endif %}
                                <a class="dropdown-item" href="/stasiun/daftar">Daftar Stasiun</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown bg-light text-danger" style="	text-shadow: 0px 0px 0px black;	background-image: linear-gradient(to bottom, rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b class="text-dark">Sepeda</b></a>
                            <div class="dropdown-menu">
                                {% if request.session.role == 'petugas' %}
                                <a class="dropdown-item" href="/sepeda/tambah">Tambah Sepeda</a>
                                {% endif %}
                                <a class="dropdown-item" href="/sepeda/daftar">Daftar Sepeda</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown bg-light text-danger" style="	text-shadow: 0px 0px 0px black;	background-image: linear-gradient(to bottom, rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b class="text-dark">Voucher</b></a>
                            <div class="dropdown-menu">
                                {% if request.session.role == 'petugas' %}
                                <a class="dropdown-item" href="/voucher/tambah">Tambah Voucher</a>
                                {% endif %}
                                <a class="dropdown-item" href="/voucher/daftar">Daftar Voucher</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown bg-light text-danger" style="	text-shadow: 0px 0px 0px black;	background-image: linear-gradient(to bottom, rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b class="text-dark">Peminjaman</b></a>
                            <div class="dropdown-menu">
                                {% if request.session.role == 'anggota' %}
                                <a class="dropdown-item" href="/peminjaman/tambah">Tambah Peminjaman</a>
                                {% endif %}
                                <a class="dropdown-item" href="/peminjaman/daftar">Daftar Peminjaman</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown text-success" style="text-shadow: black 0px 0px 0px; background-image: linear-gradient(rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7)); background-position: left top; background-size: 100%; background-repeat: repeat;">
                        </li>
                        {% if request.session.role == 'petugas' %}
                        <li class="nav-item text-body" style="	text-shadow: 0px 0px 0px black;">
                            <a href="/laporan/daftar" class="nav-link active"><b class="text-dark" contenteditable="true">Daftar  Laporan</b></a>
                        </li>
                        {% endif %}
                        {% if request.session.role == 'anggota' %}
                        <li class="nav-item dropdown bg-light text-danger" style="	text-shadow: 0px 0px 0px black;	background-image: linear-gradient(to bottom, rgba(102, 204, 204, 0.7), rgba(102, 204, 204, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b class="text-dark">Transaksi</b></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/transaksi/tambah">Tambah Transaksi</a>
                                <a class="dropdown-item" href="/transaksi/daftar">Daftar Transaksi</a>
                            </div>
                        </li>
                        {% endif %}
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </header>
            {% block content %}
            {% endblock %}
        <div class="bg-dark text-light py-3" style="	text-shadow: 0px 0px 0px black;">
            <div class="container">
                <div class="row">
                <div class="col-lg-3 col-6 p-3">
                    <h5> <b>Developer</b> </h5>
                    <li>Felia Rizky Faizal</li>
                    <li>I Made Adisurya Nugraha</li>
                    <li>Muhammad Rizki Darmawan</li>
                    <li>Saffanah Fausta Lamis</li>
                </div>
                <div class="col-lg-6 col-6 p-3 text-center">
                    <h5> <b>COMPANY</b> </h5>
                    <p class="mb-0"> BIKESHARING</p>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <h5> <b>Follow us</b> </h5>
                    <div class="row">
                    <div class="col-md-12 d-flex align-items-center justify-content-between my-2"> <a href="#">
                        <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
                        </a> <a href="#">
                        <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
                        </a> <a href="#">
                        <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
                        </a> <a href="#">
                        <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
                        </a> <a href="#">
                        <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
                        </a> <a href="#">
                        <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
                        </a> </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0 mt-2">Basdat Genap 2018/2019</p>
                    <p class="mb-0 mt-2">Fasilkom UI 2017</p>
                </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>