{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    function delete_sepeda(e) {
        var lis = $(e).attr('id');
        console.log("Masuk, dan idnya: " + lis)
        $.get("/sepeda/delete_sepeda_database/", {
            'id' : lis,
    }, function(data) {
        alert("Sudah berhasil terdelete");
        document.location.reload();
    });
}
</script>
<div class="py-2">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2 class="pt-4">Daftar Sepeda</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="py-2 pb-5">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th style="text-shadow: 0px 0px 0px black">Nomor</th>
                    <th style="text-shadow: 0px 0px 0px black">Merk</th>
                    <th style="text-shadow: 0px 0px 0px black">Jenis</th>
                    <th style="text-shadow: 0px 0px 0px black">Status</th>
                    <th style="text-shadow: 0px 0px 0px black">Stasiun</th>
                    <th style="text-shadow: 0px 0px 0px black">Penyumbang</th>
                    {% if request.session.role == 'petugas' %}
                    <th style="text-shadow: 0px 0px 0px black">Update</th>
                    <th style="text-shadow: 0px 0px 0px black">Delete</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for e in data %}
                    <tr>
                        <td>{{e.0}}</td>
                        <td>{{e.1}}</td>
                        <td>{{e.2}}</td>
                        <td>{{e.3}}</td>
                        <td>{{e.4}}</td>
                        <td>{{e.5}}</td>

                        {% if request.session.role == 'petugas' %}
                        <td> <a type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#UpdatePopup"><b>UPDATE</b></a></td>
                        <td><button class="btn btn-danger mx-2" id="{{e.0}}" onclick="delete_sepeda(this)"><b>DELETE</b></button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
<div class="modal fade" id="UpdatePopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title">UPDATE ACARA</h3>
            </div>
            <div class="modal-body">
                <form id="regist" method="POST" action="#">
                    <div class="mx-auto col-lg-12 col-10 px-5">
                        
                            <div class="form-group"> <label for="form16" contenteditable="true">Judul</label> <input type="text" class="form-control" id="form16" required="required"> </div>
                        <div class="form-group"> <label for="form16" contenteditable="true">Deskripsi</label> <input type="text" class="form-control" id="form16" required="required"> </div>
                        <div class="form-group"> <label for="form17">Gratis</label> <select class="custom-select">
                            <option value="1">Ya</option>
                            <option value="2">Tidak</option>
                        </select> </div>
                        <div class="form-group"> <label for="form18">Tanggal Mulai</label> <input type="text" class="form-control" id="form18"> </div>
                        <div class="form-group"> <label for="form18">Tanggal Selesai </label> <input type="text" class="form-control" id="form18"> </div>
                        <div class="form-group"> <label for="form17">Stasiun</label> <select class="custom-select">
                            <option>-</option>
                            <option value="1">Stasiun Pondok Cina</option>
                            <option value="2">Stasiun Depok Lama</option>
                        </select> 
                    </div>
                    <div class="mt-3 d-flex justify-content-end">
                        <button class="btn btn-primary">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
  