{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center py-3">
    <div class="container">
        <div class="row">
        <div class="mx-auto col-lg-10 col-10 px-5">
            <h2 class="text-body" style="">Form Penambahan Sepeda</h2>
            <form class="text-left" method="POST" action="{% url 'tambah_sepeda_database' %}">
                {% csrf_token %}
                <div class="form-group"> <label for="form16" contenteditable="true">Merk</label> <input type="text" class="form-control" name="form16" required="required" placeholder="B Bicycle"> </div>
                <div class="form-group"> <label for="form17">Jenis</label> <input type="text" class="form-control" name="form17" required="required" placeholder="Mountain bike"> </div>
                <div class="form-group"><label>Status</label><select class="custom-select" required="required" name="pilihan_status">
                    <option selected="">Open this select menu</option>
                    <option value="1">Tersedia</option>
                    <option value="2">Tidak Tersedia</option>
                    </select></div>
                <div class="form-group"><label>Stasiun</label><select class="custom-select" required="required" name="pilihan_stasiun">
                    <option selected="">Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select></div>
                <div class="form-group"><label>Penyumbang</label><select class="custom-select" name="pilihan_penyumbang">
                    <option selected="">Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select></div>
                <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
  